pandas 
pandasai
numpy
streamlit
python-dotenv
openpyxl
langchain-groq
langchain-experimental
langchain
tabulate
openai
langchain-openai
llama-index
llama-parse
faiss-cpu 
sentence-transformers 
fuzzywuzzy 